<% if profile.nil? %>
  <% profile_model = [current_user, current_user.build_profile] %>
<% else %>
  <% profile_model = [current_user, profile] %>
<% end %>
<%= form_with(model: profile_model)  do |profile| %>
  <%= profile.label :summary %>
  <%= profile.text_field :summary %>
  </div>
  <div>
    <%= profile.label :github_url %>
    <%= profile.text_field :github_url %>
  </div>
  <div>
  </div>
  <%= profile.submit %>
<% end %>
