<%= form_with(model: [current_user, current_user.skill_sets.build])  do |skill_set_form| %>
  <div>
    <%= skill_set_form.label :category %>
    <%= skill_set_form.text_field :category %>
  </div>
  <div>
    <%= skill_set_form.label :entries %>
    <%= skill_set_form.text_area :entries, multiple: true %>
  </div>
  <%= skill_set_form.submit %>
<% end %>
