<%= form_with(model: [current_user, current_user.skill_sets.build])  do |skill_set| %>
  <div>
    <%= skill_set.label :category %>
    <%= skill_set.text_field :category %>
  </div>
  <div>
    <%= skill_set.label :entries %>
    <%= skill_set.text_area :entries, multiple: true %>
  </div>
  <%= skill_set.submit %>
<% end %>
