<div id="<%= dom_id skill_set %>" >
  <div class="skill_set">
    <div class="sub-details">
      <br/>
      <%= skill_set.category %>
      <br/>
      <%= skill_set.entries %>
    </div>
    <div class="edit-button">
      <%# <%= button_to("Edit",edit_contact_path(contact), method: :post) %1> %>
    </div>
    <div class="delete-button">
      <%# <%= button_to("Delete",contact_path(contact), method: :delete) %1> %>
    </div>
  </div>
  <hr/>
</div>
