<main>
  <h2 class="title"> Account Profile(<%= "#{current_user.username}" %>)</h2>
  <div id="<%= dom_id current_user %>">
    <p>
    <div class="user-details">
      <%= render "shared/user_details" %>
    </div>
    <div>
      <%= render "shared/address_details" %>
    </div>
    <hr/>
    </p>
    <h3>Profile</h3>
    <div id="new-profile-form">
      <%= render "profiles/form", profile: @profile %>
    </div>
    <hr/>
    <h3>Skill set </h3>
    <div id="new-skill-set-form">
      <%= render "skill_sets/form", skill_set: @skill_set %>
    </div>
    <div id="skill_sets">
      <% current_user.skill_sets.each do |skill_set| %>
        <%= render "skill_sets/skill_set", skill_set: skill_set %>
      <% end %>
    </div>
    <hr/>
    <h3>Experience </h3>
    <div id="new-experience-form">
      <%= render "experiences/form", experience: @experience %>
    </div>
    <div id="experiences">
      <% current_user.experiences.each do |experience| %>
        <%= render "experiences/experience", experience: experience if experience.company %>
      <% end %>
    </div>
    <h3>Education </h3>
    <div id="new-educational-qualification-form">
      <%= render "educational_qualifications/form", educational_qualification: @educational_qualification %>
    </div>
    <div id="educational_qualifications">
      <% current_user.educational_qualifications.each do |educational_qualification| %>
        <%= render "educational_qualifications/educational_qualification", educational_qualification: educational_qualification if educational_qualification.institution %>
      <% end %>
    </div>
  </div>  
  <p>
  <%= link_to("Edit Account", edit_user_registration_path, class: "btn-square-less-space") %>
  </p>
  <hr/>
  <%= link_to("Back", :back) %>
</main>
