<div class="address">
  <div>
    <%= address_form.label :country, style: "display: block" %>
    <%= address_form.text_field :country %>
  </div>
  <div>
    <%= address_form.label :city, style: "display: block" %>
    <%= address_form.text_field :city %>
  </div>
  <div>
    <%= address_form.label :state, style: "display: block" %>
    <%= address_form.text_field :state %>
  </div>
  <div>
    <%= address_form.label :street1, style: "display: block" %>
    <%= address_form.text_field :street1 %>
  </div>
  <div>
    <%= address_form.label :street2, style: "display: block" %>
    <%= address_form.text_field :street2 %>
  </div>
  <div>
    <%= address_form.label :zip, style: "display: block" %>
    <%= address_form.text_field :zip %>
  </div>
</div>
