<div id="<%= dom_id educational_qualification %>" >
  <div class="educational_qualification">
    <div class="sub-details">
      <br/>
      <b>Institution:</b> <%= educational_qualification.institution %> 
    <br/>
    <b>Start Date:</b> <%= educational_qualification.start_date %> 
  <b>End Date:</b> <%= educational_qualification.end_date %> 
<br/>
<b>Qualification:</b> <%= educational_qualification.qualification %> 
    </div>
    <div class="edit-button">
      <%# <%= button_to("Edit",edit_contact_path(contact), method: :post) %1> %>
    </div>
    <div class="delete-button">
      <%# <%= button_to("Delete",contact_path(contact), method: :delete) %1> %>
    </div>
  </div>
</div>
